---
title: (GL) Yoav Shapira -- Growing the company
desc: Guest Lecturer Yoav Shapira - "Like a shark, if you don't move, you die!"
homework: TBD
---
<%= homework_hdr %>
* TBD

#### Guest Lecturer

* Our speaker today is Yoav Shapira Beir. You can find [information about Yoav on LinkedIn.](https://www.linkedin.com/profile/view?id=AAkAAAAFXZsBrM07bLcPh7RTJjTYVAXzbWPYCAo)

<a class="embedly-card" href="https://www.linkedin.com/in/yoavshapira">Yoav Shapira | LinkedIn</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Key Points
* TBD

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
